<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    IWAIを使って大切な人へお祝いをしよう
  </p>
  <h2 class='ad-footer-title'>
    スマホアプリでさらに利用が簡単！
  </h2>
  <div class='store-btn'>
  </div>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>IWAIについて</h2>
      <ul>
        <li><%= link_to '会社概要（運営会社)', "#", class: "footer-link" %></li>
        <li><%= link_to 'プライバシーポリシー', "#", class: "footer-link" %></li>
        <li><%= link_to 'IWAI利用規約', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>IWAIを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>IWAIについて</h2>
      <ul>
        <li><%= link_to 'IWAIガイド', "#", class: "footer-link" %></li>
        <li><%= link_to 'IWAIロゴ利用ガイドライン', "#", class: "footer-link" %></li>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("IWAI logo2.jpg", class:"logo-white"), "#" %>
  <p>© IWAI</p>
</div>